<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <div class="box" id="heading">
      <h1>Hello</h1>
      <%if(day=="saturday"|| day=="sunday"){ %>
      <h1 >Today is weekend and the day is <%= day %></h1>
      <%}else{%>
        <h1 >Today is  <%= day %></h1>
      <%}%>
    </div>
  <div class="box">
    <div class="item" >
      <p>Wake up</p>
      <p>Eat</p>
      <p>Bath</p>
      <% for (var i=0; i<valuess.length; i++){ %>
      <p> <%= valuess[i]%></p>
      <% } %>

  </div>
  <form class="" action="/" method="post">
    <input type="text" name="value" value="" placeholder="Add">
    <button type="button" name="button">+</button>
  </form>
  </div>





  </body>
</html>
